.container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.flex-box-rps {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-box-rps img:hover {
    box-shadow: 0px 0px 67px -4px rgba(37, 50, 233, 1);
}