                    @font-face {
                        font-family: 'alegreya';
                        src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'), url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
                        font-weight: normal;
                        font-style: normal;
                    }
                    
                     :root {
                        --yellow: #ffc92f;
                        --red: #d82727;
                        --black: #212121;
                        --white: #fff;
                        --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
                    }
                    
                    html,
                    body {
                        height: 100%;
                    }
                    
                    .wrapper {
                        overflow: hidden;
                        min-width: 1440px;
                    }
                    
                    .container {
                        margin: 0 auto;
                        width: 1300px;
                    }
                    
                    body {
                        font: 16px /1.4 "Roboto", Arial, sans-serif;
                        color: var(--black);
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        background: #fcf5e6;
                    }
                    
                    ul {
                        margin: 0;
                        padding: 0;
                    }
                    
                    ul>li {
                        list-style: none;
                    }
                    
                    .hero {
                        height: 100vh;
                        min-height: 650px;
                        background: url(./img/bg/hero.jpg) center center / cover no-repeat;
                        position: relative;
                        margin-bottom: 130px;
                    }
                    
                    .hero-small {
                        height: 19.3vh;
                        min-height: 181px;
                        background: url(./img/bg/hero.jpg) center center / cover no-repeat;
                        position: relative;
                        margin-bottom: 90px;
                    }
                    
                    .header {
                        width: 1290px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-top: 27px;
                    }
                    
                    .mail {
                        text-decoration: none;
                        text-align: center;
                        color: inherit;
                    }
                    
                    .mail__title {
                        margin-bottom: 3px;
                    }
                    
                    .mail__content {
                        background: var(--black);
                        color: var(--yellow);
                        padding: 5px 10px;
                    }
                    
                    .hero__content {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 1140px;
                        height: 72%;
                    }
                    
                    .hero-small__content {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 1140px;
                        height: 200%;
                        overflow: hidden;
                    }
                    /* 
    Sidebar Section
    */
                    
                    .sidebar {
                        width: 75px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        background: var(--black);
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        transition: width .3s;
                    }
                    
                    .sidebar__menu {
                        position: absolute;
                        left: -400px;
                        transition: left .3s;
                    }
                    
                    .sidebar--opened .sidebar__menu {
                        left: 0px;
                        width: 100%;
                        text-align: center;
                        transition-delay: .1s;
                    }
                    
                    .sidebar__hamburger-icon {
                        width: 29px;
                        height: 29px;
                        fill: var(--yellow);
                    }
                    
                    .sidebar__hamburger {
                        display: block;
                        position: absolute;
                        top: 27px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                    
                    .sidebar--opened {
                        width: 325px;
                        padding: 0 3% 0 4%;
                    }
                    
                    .sidebar--opened .sidebar__hamburger {
                        display: none;
                    }
                    
                    .sidebar--opened .sidebar__header {
                        display: flex;
                    }
                    
                    .sidebar__header {
                        position: absolute;
                        top: 29px;
                        left: 0;
                        right: 0;
                        display: none;
                        justify-content: center;
                    }
                    
                    .sidebar__close {
                        position: absolute;
                        top: -4px;
                        right: 23px;
                    }
                    
                    .sidebar__close-icon {
                        width: 29px;
                        height: 29px;
                        fill: var(--yellow);
                    }
                    
                    .side-menu__item {
                        margin-bottom: 20px;
                    }
                    
                    .side-menu__link {
                        font-size: 20px;
                        color: var(--yellow);
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: var(--titlesFont);
                    }
                    
                    .side-menu__link:hover {
                        color: var(--red);
                    }
                    /* 
    Small header image for products
    */
                    
                    .small-image__item {
                        background: center center / contain no-repeat;
                        height: 50%;
                        position: absolute;
                        top: 43%;
                        left: 0;
                        width: 100%;
                        height: 80%;
                        background-image: url(./img/decor/header-guys.png);
                    }
                    
                    .small-image__text {
                        position: absolute;
                    }
                    
                    .small-image__item .small-image__text {
                        left: 50%;
                        top: 50%;
                        transform: translate(-156%, -68%);
                    }
                    
                    .small-image__text .lined-text {
                        font-size: 30px;
                    }
                    
                    .small-image__text .lined-text__word {
                        background: var(--black);
                        padding: 2px 5px 2px;
                        margin-top: -4px;
                    }
                    /* 
    Fade sliders Section
    */
                    
                    .fade-slider {
                        width: 100%;
                        height: 100%;
                    }
                    
                    .fade-slider__item {
                        background: center center / contain no-repeat;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: opacity .5s;
                    }
                    
                    .fade-slider__item--visible {
                        opacity: 1;
                    }
                    
                    .fade-slider__item--style-tshirts {
                        background-image: url(./img/content/hero/slider_pic_1.png);
                    }
                    
                    .fade-slider__item--style-games {
                        background-image: url(./img/content/hero/slider_pic_2.png);
                    }
                    
                    .fade-slider__item--style-presents {
                        background-image: url(./img/content/hero/slider_pic_3.png);
                    }
                    
                    .fade-slider__text {
                        position: absolute;
                    }
                    
                    .fade-slider__item--style-tshirts .fade-slider__text {
                        left: 50%;
                        top: 50%;
                        transform: translate(-164%, -52%);
                    }
                    
                    .fade-slider__item--style-presents .fade-slider__text {
                        left: 84%;
                        top: 50%;
                        transform: translate(-164%, -52%);
                    }
                    
                    .fade-slider__item--style-presents .fade-slider__text {
                        left: 84%;
                        top: 50%;
                        transform: translate(-164%, -52%);
                    }
                    
                    .lined-text {
                        font-family: "alegreya", Arial, sans-serif;
                        color: var(--white);
                        font-size: 63px;
                        text-transform: uppercase;
                        line-height: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    
                    .lined-text__word {
                        background: var(--black);
                        padding: 0 17px 8px;
                        margin-top: -7px;
                    }
                    
                    .lined-text__word--color-yellow {
                        color: var(--yellow);
                    }
                    
                    .lined-text__word:nth-child(2n) {
                        margin-left: 8px;
                    }
                    
                    .filter {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 100px;
                    }
                    
                    .filter__item {
                        margin-right: 40px;
                    }
                    
                    .filter__item:last-child {
                        margin-right: 0;
                    }
                    
                    .filter__link {
                        font-family: var(--titlesFont);
                        text-transform: uppercase;
                        padding: 3px 21px;
                        color: var(--black);
                        font-size: 24px;
                        font-weight: bold;
                        display: inline-block;
                        text-decoration: none;
                    }
                    
                    .filter__link:hover {
                        color: var(--red);
                    }
                    
                    .filter__item--active .filter__link {
                        color: var(--yellow);
                        background: var(--black);
                    }
                    /*
    Products Section
    */
                    
                    .products {
                        margin-bottom: 160px;
                    }
                    
                    .products__list {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: -27px;
                    }
                    
                    .products__item {
                        width: 302px;
                        height: 386px;
                        background: var(--yellow);
                        margin-bottom: 35px;
                        margin-left: 27px;
                        position: relative;
                    }
                    
                    .products__price {
                        position: absolute;
                        top: 18px;
                        left: -6px;
                        width: 126px;
                        border-bottom: 45px solid #232323;
                        border-left: 5px solid transparent;
                        border-right: 2px solid transparent;
                        transform: rotate(-181deg);
                    }
                    
                    .products__price-ammount {
                        font-size: 30px;
                        font-weight: bold;
                        font-family: var(--titlesFont);
                        color: var(--white);
                        transform: rotate(181deg);
                        position: absolute;
                        top: 2px;
                        right: 28px;
                    }
                    
                    .products__item-color-black {
                        background: #232323;
                    }
                    
                    .products__item-color-black .products__price {
                        border-bottom-color: var(--yellow);
                    }
                    
                    .products__item-color-black .products__price-ammount {
                        color: var(--black);
                    }
                    
                    .products__item-size-double {
                        width: 630px;
                        height: 544px;
                    }
                    
                    .products__content {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        overflow: hidden;
                    }
                    
                    .products__item:hover .products__desc {
                        transform: translateY(0%);
                    }
                    
                    .products__desc {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        padding: 23px 30px;
                        background: rgba(35, 35, 35, .8);
                        font-size: 15px;
                        color: var(--white);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transform: translateY(100%);
                        transition: transform .3s;
                    }
                    
                    .products__img {
                        display: block;
                        max-width: 90%;
                        max-height: 100%;
                    }
                    
                    .products__desc-text {
                        text-align: center;
                        margin: 18px;
                    }
                    
                    .btn {
                        text-transform: uppercase;
                        font-family: var(--titlesFont);
                        font-size: 24px;
                        padding: 2px 30px;
                        background: var(--black);
                        color: var(--yellow);
                        display: inline-block;
                        text-decoration: none;
                    }
                    
                    .btn:hover {
                        background: var(--red);
                        color: var(--white);
                    }
                    /* 
    Collections Section
    */
                    
                    .collections {
                        margin-bottom: 135px;
                    }
                    
                    .collections__list {
                        display: flex;
                    }
                    
                    .collections__item {
                        min-height: 474px;
                        flex: 1;
                        overflow: hidden;
                        margin-right: 30px;
                        background: url(./img/bg/pattern.png) center center / 500px;
                        position: relative;
                    }
                    
                    .collections__item:before {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 176%;
                        width: 60%;
                        top: -17%;
                        left: -18%;
                        background: center center / contain no-repeat;
                    }
                    
                    .collections__item--type-guys:before {
                        background-image: url(./img/collections/collection_man.png);
                    }
                    
                    .collections__item--type-girls:before {
                        background-image: url(./img/collections/collection_woman.png);
                        top: -31%;
                        width: 80%;
                    }
                    
                    .collections__link {
                        display: block;
                        padding: 74px 13% 74px 44%;
                        text-decoration: none;
                        color: inherit;
                        font-size: 15px;
                        position: relative;
                        height: 100%;
                        box-sizing: border-box;
                    }
                    
                    .collections__link:hover .btn {
                        background: var(--red);
                        color: var(--white);
                    }
                    
                    .collections__title {
                        font-family: var(--titlesFont);
                        font-size: 70px;
                        font-weight: bold;
                        line-height: 1;
                        margin-top: 0;
                        margin-bottom: 11px;
                        text-transform: uppercase;
                    }
                    
                    .collections__item:last-child {
                        margin-right: 0;
                    }
                    
                    .collections__desc {
                        margin-bottom: 28px;
                    }
                    /* 
    Footer section
    */
                    
                    .footer {
                        margin-bottom: 115px;
                    }
                    
                    .footer__container {
                        width: 1105px;
                    }
                    
                    .site-menu {
                        margin-bottom: 115px;
                    }
                    
                    .site-menu__sections {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .site-menu__col {
                        margin-right: 20px;
                    }
                    
                    .site-menu__col:last-child {
                        margin-right: 0;
                    }
                    
                    .site-menu__title {
                        font-family: var(--titlesFont);
                        font-size: 24px;
                        font-weight: bold;
                        color: var(--black);
                        text-transform: uppercase;
                        margin-bottom: 24px;
                    }
                    
                    .site-menu__item {
                        margin-bottom: 15px;
                    }
                    
                    .site-menu__link {
                        color: #737373;
                        font-size: 15px;
                        text-decoration: none;
                    }
                    
                    .site-menu__link:hover {
                        color: var(--red);
                    }
                    
                    .site-menu__text {
                        font-size: 15px;
                        color: var(--black);
                        margin-bottom: 30px;
                    }
                    
                    .site-menu__text-row {
                        color: inherit;
                        text-decoration: none;
                        display: block;
                        margin-bottom: 5px;
                    }
                    
                    .extras {
                        display: flex;
                        margin-bottom: 90px;
                    }
                    
                    .extras__col {
                        margin-right: 20px;
                        flex: 1;
                    }
                    
                    .extras__col:last-child {
                        margin-right: 0;
                    }
                    
                    .extras__best {
                        text-align: center;
                        color: var(--white);
                        background: #232323;
                        font-size: 50px;
                        font-weight: bold;
                        font-family: var(--titlesFont);
                        text-transform: uppercase;
                        padding: 39px 10%;
                        display: block;
                        text-decoration: none;
                        line-height: 1;
                    }
                    
                    .extras__col-socials {
                        height: 100%;
                        background: url(./img/bg/pattern.png) center center / 500px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    .socials {
                        display: flex;
                    }
                    
                    .socials__item {
                        margin-right: 50px;
                    }
                    
                    .socials__item:last-child {
                        margin-right: 0px;
                    }
                    
                    .socials__link {
                        width: 38px;
                        height: 38px;
                        display: block;
                    }
                    
                    .socials__link:hover .socials__icon {
                        fill: var(--red);
                    }
                    
                    .socials__icon {
                        width: 100%;
                        height: 100%;
                    }
                    /* 
    Product selector
    */
                    
                    .product-selector {
                        display: flex;
                        margin: auto;
                        margin-bottom: 95px;
                        width: 1085px;
                        border: 10px solid;
                        border-color: var(--yellow);
                        position: relative;
                    }
                    
                    .product-selector__view {
                        background: var(--yellow);
                        flex: 1;
                        height: 550px;
                        padding-top: 100px;
                    }
                    
                    .product-selector__item {
                        height: 82%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                    }
                    
                    .product-selector__img {
                        position: absolute;
                        display: block;
                        max-width: 95%;
                        height: 70%;
                        opacity: 0;
                    }
                    
                    .product-selector__img--active {
                        opacity: 1;
                    }
                    
                    .product-selector__options {
                        margin-right: 0;
                        margin-left: 28px;
                        flex: 1;
                        padding-top: 22px;
                    }
                    
                    .info__name {
                        color: var(--yellow);
                        font: 17px /1.4 "Roboto", Arial, sans-serif;
                        font-weight: bold;
                    }
                    
                    .info__title {
                        text-transform: uppercase;
                        font-family: var(--titlesFont);
                        font-size: 46px;
                        margin-top: -3px;
                        letter-spacing: 2.7px;
                        margin-bottom: -4px;
                    }
                    
                    .info__price {
                        top: 0px;
                        width: 95px;
                        height: 45px;
                        background-color: var(--yellow);
                        position: relative;
                    }
                    
                    .info__price--ammount {
                        font-weight: bold;
                        font-family: var(--titlesFont);
                        font-size: 38px;
                        position: absolute;
                        left: 14px;
                        top: -3px;
                    }
                    
                    .products__price-ammount {
                        font-size: 30px;
                        font-weight: bold;
                        font-family: var(--titlesFont);
                        color: var(--white);
                        transform: rotate(181deg);
                        position: absolute;
                        top: 2px;
                        right: 28px;
                    }
                    
                    hr {
                        margin-left: -28px;
                        margin-top: 30px;
                        margin-bottom: 20px;
                        border-color: rgba(224, 217, 200, 0.19);
                    }
                    
                    .info__description {
                        font: 13px /2.34 "Roboto", Arial, sans-serif;
                    }
                    
                    .info__size-selector {
                        margin-top: 28px;
                    }
                    
                    .btn-size {
                        border: 2px solid #e4ddcc;
                        display: inline-block;
                        height: 49px;
                        width: 49px;
                        padding: 0;
                        margin-right: 3px;
                        font: 15px "Roboto", Arial, sans-serif;
                        font-weight: 700;
                        background-color: rgba(0, 0, 0, 0);
                        cursor: pointer;
                    }
                    
                    .btn-size:hover {
                        border: 2px solid var(--yellow);
                    }
                    
                    .btn-size:active {
                        background-color: var(--yellow);
                    }
                    
                    .btn-size:focus {
                        outline: 0;
                        border: 2px solid var(--yellow);
                        background-color: var(--yellow);
                    }
                    
                    .selected {
                        outline: 0;
                        border: 2px solid var(--yellow);
                        background-color: var(--yellow);
                    }
                    
                    .btn-size:disabled {
                        color: #e4ddcc;
                    }
                    
                    .btn-size:disabled:hover {
                        border: 2px solid #e4ddcc;
                    }
                    
                    .info__color {
                        margin-top: 28px;
                        display: flex;
                    }
                    
                    .info__color--container {
                        display: block;
                        position: relative;
                        padding-left: 43px;
                        cursor: pointer;
                        font-size: 22px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                    
                    .info__color--container input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 23px;
                        width: 23px;
                        border-radius: 50%;
                    }
                    
                    .checkmark--black {
                        background-color: #2f2c25;
                    }
                    
                    .checkmark--red {
                        background-color: var(--red);
                    }
                    
                    .checkmark--green {
                        background-color: #529029;
                    }
                    
                    .checkmark--blue {
                        background-color: #39498d;
                    }
                    
                    .checkmark--white {
                        background-color: rgba(0, 0, 0, 0);
                        box-shadow: inset 0 0 0pt 1px #e0d9c8;
                    }
                    
                    .info__color--container .checkmark:after {
                        top: -3px;
                        left: -3px;
                        width: 29px;
                        height: 29px;
                        border-radius: 50%;
                        background: rgba(0, 0, 0, 0);
                        box-shadow: 0 0 0pt 3px var(--yellow);
                    }
                    
                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                    
                    .info__color--container input:checked~.checkmark:after {
                        display: block;
                    }
                    
                    .info__buy-button {
                        margin-top: 55px;
                    }
                    
                    .btn-buy {
                        text-transform: uppercase;
                        font-family: var(--titlesFont);
                        font-weight: bold;
                        font-size: 28px;
                        padding-top: 8px;
                        padding-bottom: 3px;
                        padding-left: 70px;
                        padding-right: 70px;
                        background: #2f2c25;
                        color: var(--yellow);
                        display: inline-block;
                        text-decoration: none;
                        letter-spacing: 1px;
                    }
                    
                    .btn-buy:hover {
                        background: var(--red);
                        color: var(--white);
                    }
                    /* 
                Product info
                */
                    
                    .product-info {
                        display: flex;
                        margin: auto;
                        margin-bottom: 50px;
                        width: 1100px;
                        position: relative;
                    }
                    
                    .info-view {
                        border: 10px solid;
                        border-color: var(--yellow);
                        justify-content: center;
                        flex-direction: row;
                        font: 13px /1.6 "Roboto", Arial, sans-serif;
                    }
                    
                    .tabcontent {
                        display: none;
                    }
                    
                    .tabcontent--active {
                        display: flex;
                    }
                    
                    .info-side {
                        width: 100px;
                        flex: 1;
                        border-right: 1px solid rgba(150, 146, 146, 0.445);
                        padding: 40px;
                    }
                    
                    .product-info .filter {
                        margin-bottom: 68px;
                    }
                    
                    .description-side {
                        flex: 2;
                        padding: 40px;
                    }
                    
                    .shipping-img {
                        margin-left: 25px;
                    }
                    
                    .brand-img {
                        width: 70%;
                        margin-top: 30px;
                        margin-left: 20px;
                        margin-bottom: 80px;
                    }
                    
                    .size-img {
                        width: 90%;
                        margin-left: 30px;
                    }
                    
                    .size-text {
                        margin-top: 40px;
                    }
                    
                    .description-side .table {
                        width: 100%;
                        text-align: center;
                        vertical-align: middle;
                        table-layout: fixed;
                    }
                    
                    .description-side-table {
                        flex: 2;
                    }
                    
                    table {
                        width: 100%;
                        height: 100%;
                        border-spacing: 0px;
                        font-size: 14px;
                        text-align: center;
                    }
                    
                    th,
                    td {
                        border: 1px solid #d8d1c2;
                        box-sizing: border-box;
                        padding: 20px 25px 25px 15px;
                        width: 74px;
                        height: 12px;
                        font-size: 14px;
                        line-height: 1;
                    }
                    
                    th {
                        background: #f6efe0;
                    }